# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
*.egg*/
build/
dist/

# Tools
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/

# IDE files
.idea/*
